@use "/src/styles/partials/colours" as *;
@use "/src/styles/partials/breakpoints" as *;

a{
    @include tablet{
        width: 50%;
    }
}

.gallery{
    background-color: $Pistachio;
}

.picture-list{
    display: flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

