@use "/src/styles/partials/global" as *;

.mission-section{
    padding-left: 1rem;
}

.brief{
    margin-top: 3rem;
    margin-bottom: 0;
    @include body-copy;
}
.statement{
    margin-top: 1rem;
    @include wordmark;
    &{line-height: 1.5};
    &--italic{
        font-style: italic;
        font-family: NewsReader;
    }
}