@use '/src/styles/partials/breakpoints' as *;
@use '/src/styles/partials/global' as *;
@use '/src/styles/partials/colours' as *;


.footer{
    padding-top: 3rem;
    font-weight: 500;
    // display: flex;
    // flex-direction: column;
    margin-left: 1rem;
    font-family: Outfit;
    line-height: 1.5;
    &__title{
        @include title;

        @include tablet{
            @include heading;
        }

    }
    &__media-icons{
        display: flex;
        gap: 1rem;
        align-items: center;
        @include tablet{
            padding: 0.5rem 0;
        }
    }
    &__group{
        font-family: Outfit;
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
    }
    &__meta{
        display: flex;
        flex-direction: column;
        
        @include tablet{
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            padding-right: 1rem;
        }
    }
    &__legal{
        color: $Sea-Green;
        display: flex;
        align-items: baseline;
        gap: 1rem;
    }
}


